*,:after,:before {
	-webkit-tap-highlight-color: transparent
}

blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

q:after,q:before {
	content: ""
}

input:password {
	ime-mode: disabled
}

:focus {
	outline: 0
}

body,html {
	min-height: 100%
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

a,img {
	-webkit-touch-callout: none
}

body {
	background-color: #f5f5f9
}

body.am-bg-white {
	background-color: #fff
}

body,button,input,select,textarea {
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	font-family: Helvetica Neue,Helvetica,STHeiTi,sans-serif
}

input {
	line-height: normal
}

a {
	color: #0ae;
	text-decoration: none
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.fn-hide {
	display: none
}

.fn-left {
	float: left
}

.fn-right {
	float: right
}

.am-content {
	margin-left: 10px;
	margin-right: 10px
}

.am-content h5 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.5
}

.am-fixed {
	position: fixed!important;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	width: 100%
}

.am-fixed-bottom {
	top: inherit;
	bottom: 0
}

.user-select {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto
}

.am-ft-left {
	text-align: left
}

.am-ft-center {
	text-align: center
}

.am-ft-right {
	text-align: right
}

.am-ft-xxxl {
	font-size: 24px
}

.am-ft-xxl {
	font-size: 20px
}

.am-ft-xl {
	font-size: 18px
}

.am-ft-lg {
	font-size: 17px
}

.am-ft-md {
	font-size: 16px
}

.am-ft-sm {
	font-size: 14px
}

.am-ft-white {
	color: #fff
}

.am-ft-black {
	color: #333
}

.am-ft-darkgray {
	color: #666
}

.am-ft-gray {
	color: #a5a5a5
}

.am-ft-lightgray {
	color: #ccc
}

.am-ft-blue {
	color: #0ae
}

.am-ft-orange {
	color: #ff8208
}

.am-ft-green {
	color: #f85800
}

.am-ft-red {
	color: #f4333c
}

.am-ft-20 {
	font-size: 20px
}

.am-ft-13 {
	font-size: 13px
}

.am-ft-12 {
	font-size: 12px
}

.am-ft-ellipsis {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.am-button-group {
	display: -webkit-box;
	display: -webkit-flex;
	padding: 6px 10px;
	background: transparent
}

.am-button-group a,.am-button-group button {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	width: 100%;
	height: 30px;
	padding: 0;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #d2d2d2;
	border-width: 1px 1px 1px 0;
	color: #999;
	white-space: nowrap;
	background: #fdfdfd
}

.am-button-group a.am-button-group-current,.am-button-group a.hover,.am-button-group a:active,.am-button-group button.am-button-group-current,.am-button-group button.hover,.am-button-group button:active {
	border-color: #0ae;
	color: #fff;
	background: #0ae
}

.am-button-group a:first-child,.am-button-group button:first-child {
	border-width: 1px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-background-clip: padding-box
}

.am-button-group a:last-child,.am-button-group button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-background-clip: padding-box
}

.am-button-group a.am-button-group-current:disabled,.am-button-group a:disabled,.am-button-group button.am-button-group-current:disabled,.am-button-group button:disabled {
	border-color: #cdcdcd;
	background: #e5e5e5;
	-webkit-box-shadow: 0 1px 0 hsla(0,0%,100%,.6);
	text-shadow: 0 1px 0 hsla(0,0%,100%,.8);
	color: #aaa
}

.am-tab {
	display: -webkit-box;
	display: -webkit-flex;
	background-color: #fff;
	height: 44px
}

.am-tab button {
	padding: 0;
	border: 0;
	outline: 0;
	background: 0 0;
	-webkit-appearance: none
}

.am-tab .am-tab-item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	background: -webkit-gradient(linear,left top,left bottom,from(#e5e5e5),to(#e5e5e5)) 0 100% no-repeat;
	background: -webkit-linear-gradient(270deg,#e5e5e5,#e5e5e5,hsla(0,0%,90%,0)) 0 100% no-repeat;
	background: -webkit-linear-gradient(top,#e5e5e5,#e5e5e5,hsla(0,0%,90%,0)) 0 100% no-repeat;
	background: linear-gradient(180deg,#e5e5e5,#e5e5e5,hsla(0,0%,90%,0)) 0 100% no-repeat;
	-webkit-background-size: 100% 1px;
	font-size: 14px;
	text-align: center;
	line-height: 44px;
	color: #666
}

.am-tab .am-tab-item[data-tab~=selected] {
	background: 0 0;
	color: #0ae;
	border-bottom: 3px solid #0ae
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
	float: left
}

.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform,-webkit-transform;
	box-sizing: content-box
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
	height: auto
}

.swiper-container-autoheight .swiper-wrapper {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-transition-property: -webkit-transform,height;
	-webkit-transition-property: height,-webkit-transform;
	transition-property: height,-webkit-transform;
	transition-property: transform,height;
	transition-property: transform,height,-webkit-transform
}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000
}

.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x
}

.swiper-button-next,.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: 50%;
	background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
	opacity: .35;
	cursor: auto;
	pointer-events: none
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
	left: 10px;
	right: auto
}

.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
	right: 10px;
	left: auto
}

.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
	background: #fff
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 5px 0;
	display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px
}

.swiper-pagination-progress {
	background: rgba(0,0,0,.25);
	position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
	background: #007aff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: left top;
	transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
	-webkit-transform-origin: right top;
	transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progress {
	width: 100%;
	height: 4px;
	left: 0;
	top: 0
}

.swiper-container-vertical>.swiper-pagination-progress {
	width: 4px;
	height: 100%;
	left: 0;
	top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
	background: hsla(0,0%,100%,.5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
	background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
	background: #000
}

.swiper-container-3d {
	-webkit-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(transparent));
	background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5),transparent);
	background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(transparent));
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5),transparent);
	background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(transparent));
	background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.5),transparent);
	background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(transparent));
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5),transparent);
	background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper {
	-ms-perspective: 1200px
}

.swiper-container-cube,.swiper-container-flip {
	overflow: visible
}

.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
	visibility: hidden;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 100%;
	height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	-webkit-transition-property: opacity;
	transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-zoom-container {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center
}

.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain
}

.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0,0,0,.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,.5);
	border-radius: 10px;
	left: 0;
	top: 0
}

.swiper-scrollbar-cursor-drag {
	cursor: move
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: swiper-preloader-spin 1s steps(12) infinite;
	animation: swiper-preloader-spin 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
	background-position: 50%;
	background-size: 100%;
	background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
	to {
		-webkit-transform: rotate(1turn)
	}
}

@keyframes swiper-preloader-spin {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

.icon-color {
	color: #b86086
}

.swiper-slide span {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 24px;
	background: rgba(0,0,0,.6);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#80000000",endColorstr="#80000000")\9;
	display: block;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	font-family: Microsoft YaHei
}

.weui_toast_common[_v-63e5f651] {
	position: fixed;
	z-index: 3;
	width: 7.6em;
	min-height: 1em;
	bottom: 50px;
	left: 50%;
	margin-left: -3.8em;
	background: rgba(40,40,40,.75);
	text-align: center;
	border-radius: 5px;
	color: #fff
}

.weui_toast_content_common[_v-63e5f651] {
	margin: 8px 0
}

.mapPage[_v-5f1d5d58] {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.swiper-container[_v-5f1d5d58] {
	width: 100%;
	height: 196px
}

.swiper-container img[_v-5f1d5d58] {
	width: 100%;
	height: 100%
}

.icon-color[_v-5f1d5d58] {
	color: #fff
}

.weui_grids[_v-5f1d5d58] {
	margin-top: 5px
}

.weui_grids a[_v-5f1d5d58] {
	background-color: #b86086
}

.weui_grid_label[_v-5f1d5d58] {
	color: #fff
}

.weui_grid[_v-5f1d5d58]:after {
	height: 3px;
	border-bottom: 3px solid #fff
}

.weui_grid[_v-5f1d5d58]:before {
	width: 3px;
	border-right: 3px solid #fff;
	right: -3px
}

.weui_grid[_v-5f1d5d58]:after,.weui_grid[_v-5f1d5d58]:before {
	color: #fff
}

.banner-container[_v-2e367076] {
	position: relative;
	width: 100%;
	height: 196px
}

.banner-container img[_v-2e367076] {
	width: 100%;
	height: 100%
}

.banner-container span[_v-2e367076] {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 24px;
	background: rgba(0,0,0,.6);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#80000000",endColorstr="#80000000")\9;
	display: block;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	font-family: Microsoft YaHei
}

.banner-container[_v-4ffbc3e4] {
	position: relative;
	width: 100%;
	height: 196px
}

.banner-container img[_v-4ffbc3e4] {
	width: 100%;
	height: 100%
}

.banner-container span[_v-4ffbc3e4] {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 24px;
	background: rgba(0,0,0,.6);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#80000000",endColorstr="#80000000")\9;
	display: block;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	font-family: Microsoft YaHei
}

.banner-container[_v-1165404a] {
	position: relative;
	width: 100%;
	height: 196px
}

.banner-container img[_v-1165404a] {
	width: 100%;
	height: 100%
}

.banner-container span[_v-1165404a] {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 24px;
	background: rgba(0,0,0,.6);
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#80000000",endColorstr="#80000000")\9;
	display: block;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	font-family: Microsoft YaHei
}

.weui_media_box .weui_media_desc[_v-9cd1185a] {
	text-overflow: inherit;
	-webkit-line-clamp: inherit;
	font-size: 16px
}

.weui_media_box .weui_media_desc[_v-7e7cf35e] {
	text-overflow: inherit;
	-webkit-line-clamp: inherit;
	font-size: 16px
}

.weui_navbar_item[_v-b83450c2] {
	padding: 6px 0;
	color: #000
}

.weui_bar_item_on[_v-b83450c2] {
	color: #fff;
	background: #0ae
}

.weui_tab_bd[_v-b83450c2] {
	padding-bottom: 34px
}

.menu-scroll-wrapper[_v-b83450c2] {
	position: absolute;
	top: 44px;
	left: 0;
	width: 90px;
	bottom: 0;
	overflow: hidden
}

.menu-scroll-wrapper ul[_v-b83450c2] {
	width: 100%;
	position: relative
}

.menu-scroll-wrapper ul[_v-b83450c2]:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #c8c8cd;
	color: #c8c8cd;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}

.menu-scroll-wrapper li[_v-b83450c2] {
	position: relative
}

.menu-scroll-wrapper li[_v-b83450c2]:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #c8c8cd;
	color: #c8c8cd;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}

.menu-scroll-wrapper li a[_v-b83450c2] {
	display: block;
	margin: 0 5px;
	padding: 15px 0 15px 3px;
	color: #515151
}

.menu-item-on[_v-b83450c2] {
	background-color: #b86086
}

.menu-item-on span[_v-b83450c2] {
	padding-left: 3px;
	border-left: 2px solid #0ae;
	color: #fff
}

.menu-item-off[_v-b83450c2]:after {
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	border-right: 1px solid #c8c8cd;
	color: #c8c8cd;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5)
}

.menu-item-off span[_v-b83450c2] {
	color: silver
}

.list-scroll-wrapper[_v-b83450c2] {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-b83450c2] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.weui_panel[_v-2d3cf792] {
	position: absolute;
	height: 134px;
	width: 100%;
	top: 0;
	left: 0
}

.scroll-wrapper[_v-2d3cf792] {
	position: absolute;
	top: 135px;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-2d3cf792] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.weui_panel[_v-38d086b8] {
	position: absolute;
	height: 134px;
	width: 100%;
	top: 0;
	left: 0
}

.scroll-wrapper[_v-38d086b8] {
	position: absolute;
	top: 135px;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-38d086b8] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.blue_tag[_v-38d086b8] {
	background-color: #0ae
}

.blue_tag[_v-38d086b8],.orange_tag[_v-38d086b8] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-38d086b8] {
	background-color: #ff8208
}

.weui_tab_bd[_v-08c31d2a] {
	padding-bottom: 49px
}

.weui_navbar_item[_v-08c31d2a] {
	padding: 10px 0;
	color: #000
}

.weui_bar_item_on[_v-08c31d2a] {
	color: #fff;
	background: #0ae
}

.weui_bar_item_on .right-angle[_v-08c31d2a] {
	border-color: #f85800;
	border-left-color: transparent;
	border-bottom-color: transparent
}

.right-angle[_v-08c31d2a] {
	width: 0;
	height: 0;
	border: 14px solid #999;
	border-left-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 0;
	right: 0
}

.full-font[_v-08c31d2a] {
	position: absolute;
	top: 0;
	right: 2px;
	color: #fff;
	font-size: 12px
}

.weui_bar_item_on .full-font[_v-08c31d2a] {
	color: #fff
}

.title-section[_v-a7d1e320] {
	position: absolute;
	height: 43px;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #bcbab6
}

.top-section[_v-a7d1e320] {
	position: absolute;
	height: 43px;
	width: 100%;
	top: 43px;
	left: 0
}

.top-section[_v-a7d1e320]:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #bcbab6;
	color: #bcbab6;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}

.date-selector-section[_v-a7d1e320] {
	position: absolute;
	top: 86px;
	left: 0;
	width: 100%;
	height: 50px
}

.scroll-wrapper[_v-a7d1e320] {
	position: absolute;
	top: 136px;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-a7d1e320] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.blue_tag[_v-a7d1e320] {
	background-color: #0ae
}

.blue_tag[_v-a7d1e320],.orange_tag[_v-a7d1e320] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-a7d1e320] {
	background-color: #ff8208
}

.scroll-wrapper[_v-3a85f76e] {
	position: absolute;
	top: 94px;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-3a85f76e] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.blue_tag[_v-3a85f76e] {
	background-color: #0ae
}

.blue_tag[_v-3a85f76e],.orange_tag[_v-3a85f76e] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-3a85f76e] {
	background-color: #ff8208
}

.blue_tag[_v-42625509] {
	background-color: #0ae
}

.blue_tag[_v-42625509],.orange_tag[_v-42625509] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-42625509] {
	background-color: #ff8208
}

.weui_label[_v-1d22059e] {
	display: block;
	width: 4em
}

.blue_tag[_v-614b52c0] {
	background-color: #0ae
}

.blue_tag[_v-614b52c0],.orange_tag[_v-614b52c0] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-614b52c0] {
	background-color: #ff8208
}

.weui_msg_desc label[_v-0be13b8c] {
	width: 80px;
	display: inline-block
}

.weui_msg_desc span[_v-0be13b8c] {
	color: #0ae;
	font-weight: bolder
}

span.label[_v-0be13b8c] {
	display: inline-block;
	width: 80px
}

span.info[_v-0be13b8c] {
	color: #0ae
}

.blue_tag[_v-0be13b8c] {
	background-color: #0ae;
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.weui_cell_primary p[_v-d79b6304] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-d79b6304] {
	background-color: #0ae
}

.blue_tag[_v-d79b6304],.orange_tag[_v-d79b6304] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-d79b6304] {
	background-color: #ff8208
}

.weui_icon_warn.weui_icon_msg[_v-d79b6304]:before {
	color: #a5a5a5
}

span.label[_v-3c4732b1] {
	display: inline-block;
	width: 80px
}

span.info[_v-3c4732b1] {
	color: #0ae
}

.weui_icon_warn.weui_icon_msg[_v-3c4732b1]:before {
	color: #a5a5a5
}

.ft-sm p[_v-eebab562] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-eebab562] {
	background-color: #0ae
}

.blue_tag[_v-eebab562],.orange_tag[_v-eebab562] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-eebab562] {
	background-color: #ff8208
}

.ft-sm p[_v-5f1aa806] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-5f1aa806] {
	background-color: #0ae
}

.blue_tag[_v-5f1aa806],.orange_tag[_v-5f1aa806] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-5f1aa806] {
	background-color: #ff8208
}

.weui_msg_desc label {
	width: 80px;
	display: inline-block
}

.weui_msg_desc span {
	color: #0ae;
	font-weight: bolder
}

span.label {
	display: inline-block;
	width: 80px
}

span.info {
	color: #0ae
}

.blue_tag {
	background-color: #0ae;
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.hd[_v-be2087b6] {
	padding: 2em 0
}

.page_title[_v-be2087b6] {
	text-align: center;
	font-size: 34px;
	color: #b86086;
	font-weight: 400;
	margin: 0 15%
}

.weui_cell_primary p[_v-673f000b] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-673f000b] {
	background-color: #0ae
}

.blue_tag[_v-673f000b],.orange_tag[_v-673f000b] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-673f000b] {
	background-color: #ff8208
}

.weui_icon_warn.weui_icon_msg[_v-673f000b]:before {
	color: #a5a5a5
}

span.label[_v-7eedb4fe] {
	display: inline-block;
	width: 80px
}

span.info[_v-7eedb4fe] {
	color: #0ae
}

.weui_icon_warn.weui_icon_msg[_v-7eedb4fe]:before {
	color: #a5a5a5
}

.ft-sm p[_v-9a7d69bc] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-9a7d69bc] {
	background-color: #0ae
}

.blue_tag[_v-9a7d69bc],.orange_tag[_v-9a7d69bc] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-9a7d69bc] {
	background-color: #ff8208
}

.ft-sm p[_v-fe2cec9a] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-fe2cec9a] {
	background-color: #0ae
}

.blue_tag[_v-fe2cec9a],.orange_tag[_v-fe2cec9a] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-fe2cec9a] {
	background-color: #ff8208
}

.ft-sm p[_v-32314399] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-32314399] {
	background-color: #0ae
}

.blue_tag[_v-32314399],.orange_tag[_v-32314399] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-32314399] {
	background-color: #ff8208
}

.ft-sm p[_v-0561bb96] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-0561bb96] {
	background-color: #0ae
}

.blue_tag[_v-0561bb96],.orange_tag[_v-0561bb96] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-0561bb96] {
	background-color: #ff8208
}

.blue_tag[_v-45bc1851] {
	background-color: #0ae
}

.blue_tag[_v-45bc1851],.orange_tag[_v-45bc1851] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-45bc1851] {
	background-color: #ff8208
}

span.label[_v-45bc1851] {
	display: inline-block;
	width: 100px
}

span.info[_v-45bc1851] {
	color: #0ae
}

.blue_tag[_v-539f4433] {
	background-color: #0ae
}

.blue_tag[_v-539f4433],.orange_tag[_v-539f4433] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-539f4433] {
	background-color: #ff8208
}

span.label[_v-539f4433] {
	display: inline-block;
	width: 100px
}

span.info[_v-539f4433] {
	color: #0ae
}

.blue_tag[_v-1302cb6f] {
	background-color: #0ae
}

.blue_tag[_v-1302cb6f],.orange_tag[_v-1302cb6f] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-1302cb6f] {
	background-color: #ff8208
}

span.label[_v-1302cb6f] {
	display: inline-block;
	width: 100px
}

span.info[_v-1302cb6f] {
	color: #0ae
}

.weui_label[_v-1302cb6f] {
	display: block;
	width: 80px
}

.weui_cell_primary p[_v-1edf412d] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-1edf412d] {
	background-color: #0ae
}

.blue_tag[_v-1edf412d],.orange_tag[_v-1edf412d] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-1edf412d] {
	background-color: #ff8208
}

.weui_icon_warn.weui_icon_msg[_v-1edf412d]:before {
	color: #a5a5a5
}

span.label[_v-60fb94c0] {
	display: inline-block;
	width: 80px
}

span.info[_v-60fb94c0] {
	color: #0ae
}

.weui_icon_warn.weui_icon_msg[_v-60fb94c0]:before {
	color: #a5a5a5
}

.ft-sm p[_v-a68f1b88] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-a68f1b88] {
	background-color: #0ae
}

.blue_tag[_v-a68f1b88],.orange_tag[_v-a68f1b88] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-a68f1b88] {
	background-color: #ff8208
}

.weui_navbar_item[_v-a68f1b88] {
	padding: 6px 0;
	color: #000
}

.weui_bar_item_on[_v-a68f1b88] {
	color: #fff;
	background: #0ae
}

.weui_tab_bd[_v-a68f1b88] {
	padding-bottom: 34px
}

.menu-scroll-wrapper[_v-a68f1b88] {
	position: absolute;
	top: 150px;
	left: 0;
	width: 90px;
	bottom: 43px;
	overflow: hidden
}

.menu-scroll-wrapper ul[_v-a68f1b88] {
	width: 100%;
	position: relative
}

.menu-scroll-wrapper ul[_v-a68f1b88]:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #c8c8cd;
	color: #c8c8cd;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}

.menu-scroll-wrapper li[_v-a68f1b88] {
	position: relative
}

.menu-scroll-wrapper li[_v-a68f1b88]:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #c8c8cd;
	color: #c8c8cd;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}

.menu-scroll-wrapper li a[_v-a68f1b88] {
	display: block;
	margin: 0 5px;
	padding: 8px 0 8px 3px;
	color: #515151;
	font-size: 13px
}

.menu-item-on[_v-a68f1b88] {
	background-color: #fff
}

.menu-item-on p[_v-a68f1b88] {
	padding-left: 3px;
	border-left: 2px solid #0ae
}

.menu-item-off[_v-a68f1b88]:after {
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	border-right: 1px solid #c8c8cd;
	color: #c8c8cd;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5)
}

.list-scroll-wrapper[_v-a68f1b88] {
	position: absolute;
	top: 150px;
	left: 90px;
	right: 0;
	bottom: 40px;
	overflow: hidden
}

.scroller[_v-a68f1b88] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.weui_cell_primary p[_v-2c874840] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-2c874840] {
	background-color: #0ae
}

.blue_tag[_v-2c874840],.orange_tag[_v-2c874840] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-2c874840] {
	background-color: #ff8208
}

.weui_icon_warn.weui_icon_msg[_v-2c874840]:before {
	color: #a5a5a5
}

span.label[_v-1344c3f3] {
	display: inline-block;
	width: 80px
}

span.info[_v-1344c3f3] {
	color: #0ae
}

.weui_icon_warn.weui_icon_msg[_v-1344c3f3]:before {
	color: #a5a5a5
}

.hd[_v-21137c56] {
	padding: 2em 0
}

.page_title[_v-21137c56] {
	text-align: center;
	font-size: 34px;
	color: #b86086;
	font-weight: 400;
	margin: 0 15%
}

.hd[_v-79f7acb2] {
	padding: 2em 0
}

.page_title[_v-79f7acb2] {
	text-align: center;
	font-size: 34px;
	color: #b86086;
	font-weight: 400;
	margin: 0 15%
}

.hd[_v-3941c978] {
	padding: 2em 0
}

.page_title[_v-3941c978] {
	text-align: center;
	font-size: 34px;
	color: #b86086;
	font-weight: 400;
	margin: 0 15%
}

.hd[_v-086dd7a7] {
	padding: 2em 0
}

.page_title[_v-086dd7a7] {
	text-align: center;
	font-size: 34px;
	color: #b86086;
	font-weight: 400;
	margin: 0 15%
}

.weui_panel[_v-086dd7a7] {
	position: absolute;
	height: 134px;
	width: 100%;
	top: 0;
	left: 0
}

.weui_icon_warn.weui_icon_msg[_v-086dd7a7]:before {
	color: #a5a5a5
}

.scroll-wrapper[_v-086dd7a7] {
	position: absolute;
	top: 155px;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-086dd7a7] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.icon-star-color {
	color: #ee0
}

.icon-star-empty-color {
	color: #ddd
}

.weui_label {
	display: block;
	width: 4em
}

.weui_navbar_item[_v-20219284] {
	padding: 6px 0;
	color: #000
}

.weui_bar_item_on[_v-20219284] {
	color: #fff;
	background: #0ae
}

.weui_tab_bd[_v-20219284] {
	padding-bottom: 34px
}

.list-scroll-wrapper[_v-20219284] {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden
}

.scroller[_v-20219284] {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none
}

.weui_label[_v-7be0b596] {
	display: block;
	width: 7em
}

.ft-sm p[_v-7be0b596] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-7be0b596] {
	background-color: #0ae
}

.blue_tag[_v-7be0b596],.orange_tag[_v-7be0b596] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-7be0b596] {
	background-color: #ff8208
}

.weui_label[_v-7be0b596] {
	display: block;
	width: 5em
}

.ft-sm p[_v-511403f8] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-511403f8] {
	background-color: #0ae
}

.blue_tag[_v-511403f8],.orange_tag[_v-511403f8] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-511403f8] {
	background-color: #ff8208
}

.weui_media_box.weui_media_appmsg .weui_media_hd[_v-511403f8] {
	margin-right: .8em;
	width: 100px;
	height: 70px;
	line-height: 70px;
	text-align: center
}

.ft-sm p[_v-3f7c9e54] {
	padding: 3px;
	font-size: 12px
}

.blue_tag[_v-3f7c9e54] {
	background-color: #0ae
}

.blue_tag[_v-3f7c9e54],.orange_tag[_v-3f7c9e54] {
	color: #fff;
	font-size: 13px;
	padding: 2px 4px;
	border: none;
	vertical-align: middle;
	border-radius: 3px
}

.orange_tag[_v-3f7c9e54] {
	background-color: #ff8208
}