<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>天津中医药大学第一附属医院</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
<script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
<link href="//cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-big-counter.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.0/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="/app/css/weui1.css" rel="stylesheet">
	<link rel="stylesheet" href="/Public/jqueryweui/dist/lib/weui.css">
	<!--<link rel="stylesheet" href="/Public/node_modules/weui/dist/lib/weui.css">-->
	<link rel="stylesheet" href="/Public/jqueryweui/dist/css/jquery-weui.css">
<link href="/app/css/timespan.css" rel="stylesheet">
</head>
<body>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src="/Public/img/car.png">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">驾车</h4>
        <p class="weui-media-box__desc">(南院)天津市西青区昌凌路与淄环路交叉口南150米；（北院）南开区鞍山西道314号</p>
      </div>
    </a>
    <a href="javascript:void(0);" style="height:150px;" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img style="border-radius:50%;width:90%;" class="weui-media-box__thumb" src="/Public/img/bus.jpg">
      </div>
      <div class="weui-media-box__bd" style="">
        <h4 class="weui-media-box__title">公交</h4>
        <p style="height:auto;overflow:visible;display:block;" class="weui-media-box__desc">(南院）乘349路，713路，753路在中医一附院站下车；（北院）乘45路，50路，633路，638路，662路，678路，681路，713路，842路，校线8路/849路，851路，859路，867路，879路，通勤快车1路/842路在龙井里站</p>
      </div>
    </a>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src="/Public/img/train.jpg">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">地铁</h4>
        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
      </div>
    </a>
  </div>
  
</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
</body>
</html>