<html lang="en"><head>
<meta charset="utf-8">
<title>天津中医药大学第一附属医院</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.0/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/Public/jqueryweui/dist/lib/weui.css">
	<!--<link rel="stylesheet" href="/Public/node_modules/weui/dist/lib/weui.css">-->
	<link rel="stylesheet" href="/Public/jqueryweui/dist/css/jquery-weui.css">
<link href="/app/css/departarrange.css" rel="stylesheet">
</head>
<body class=" pace-done">
   
<div class="pace pace-inactive">
	<div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
		<div class="pace-progress-inner">
		</div>
	</div>
	<div class="pace-activity">
	</div>
</div>
<div class="page">
	<div class="container" _v-a7d1e320="">
		<div class="title-section" style="position:fixed;z-index:999;background:#fafafa" _v-a7d1e320="">
			<div class="weui_cells_title" _v-a7d1e320="">  
				<h1 style="color:#B86086;text-align:center;font-size: 18px" _v-a7d1e320="">{$deptInfo['deptname']}<a href="/" style="float:right;color:##0ae">回到首页</a></h1>
			</div>
		</div>
		<div class="top-section" style="position:fixed;z-index:999;background:#fafafa" _v-a7d1e320="">
			<div class="fn-left" style="width:100%;padding-top:9px;padding-left:8px" _v-a7d1e320="">
				<span _v-a7d1e320="">已选:</span><span class="am-ft-orange" _v-a7d1e320="">{$checkDate} <span class="am-ft-red" _v-a7d1e320=""></span></span>
			</div>
		</div>   
		
		<div class="date-selector-section" style="position:fixed;z-index:999;background:#fafafa" _v-a7d1e320="">
			<div class="weui_tab" _v-08c31d2a="" _v-a7d1e320="">
				<div class="weui_tab_bd" _v-08c31d2a="">
				</div>
				<div class="weui_navbar" _v-08c31d2a="">
					<!--v-for-start-->
					<foreach name="dateInfo" item="val">
					<div onclick="jump('{$deptid}','{$val['fulldate']}')" class="weui_navbar_item <if condition="$val['on'] eq true">weui_bar_item_on</if>" _v-08c31d2a="">
						<div class="right-angle" _v-08c31d2a="" style="display: none;">
						</div>
						<div class="full-font" _v-08c31d2a="" style="display:  <?php if($visitInfo){?>none;<?php }else{?>block<?php }?>">
							满
						</div>
						<div class="full-font" _v-08c31d2a="" style="display: none;">   
							无
						</div>
						<p class="am-ft-12" style="line-height:12px" _v-08c31d2a="">
							{$val['day']}	
						</p>
						<p class="am-ft-12" style="line-height:12px;margin-top:5px" _v-08c31d2a="">
							{$val['date']}
						</p>
					</div>
					</foreach>
					
					<!--v-for-end-->
				</div>
			</div>
			<!--v-component-->
		</div>
		<div class="top-section" style="position:fixed;z-index:999;background:#fafafa;top:136px;" _v-a7d1e320="">
			<div class="fn-left" style="width:100%;padding-top:9px;padding-left:8px" _v-a7d1e320="">
				<i class="weui-icon-warn weui-icon_msg-primary"></i><span _v-a7d1e320="">注意:</span><span style="color:red;" class="am-ft-orange" _v-a7d1e320="">预约时间为每周一到周日：7：00-17：00 <span class="am-ft-red" _v-a7d1e320=""></span></span>
			</div>
		</div> 
		<div id="" class="" _v-a7d1e320="" style="">
			<div class="" _v-a7d1e320="" style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 175px) scale(1) translateZ(0px);">
				<div class="weui_cells weui_cells_access" style="margin-top:10px" _v-a7d1e320="">
				 <if condition="$shang">
				  <div class="weui-panel__hd" style="padding:5px 0 0 10px">上午</div>
					<!--v-for-start-->
					<foreach name="shang" item="vo">
					<a class="weui_cell" href="/index.php/Home/Index/timespan/visitid/{$vo['id']}" _v-a7d1e320="">
					<div class="weui_cell_hd" _v-a7d1e320="">
						<if condition="$vo['pic']">
						<img style="width:100px;padding:10px" src="/tjimg/{$vo['pic']}" />
						<else />
						<i class="fa fa-clock-o fa-2x icon-color" style="width:35px;margin-right:5px;display:block" _v-a7d1e320=""></i>
						</if>
					</div>
					<div class="weui_cell_bd weui_cell_primary" _v-a7d1e320="">
						<p _v-a7d1e320="">
							{$vo['docname']} <span class="am-ft-13 am-ft-gray" _v-a7d1e320="">{$vo['doclevel']}</span>
						</p>
						<p _v-a7d1e320=""> 
							{$vo['timespan']}
						</p>
						<p _v-a7d1e320="">
							<span class="orange_tag" _v-a7d1e320="">{$vo['visitname']}</span>
						</p>
						<if condition="$vo['docintro']">
						<p><span style="color:gray;font-size:12px;">{$vo['docintro']}</span></p>
						</if>
					</div>  
					<div class="weui_cell_bd" _v-a7d1e320="">
						<p _v-a7d1e320="">
							<span class="blue_tag" _v-a7d1e320="" style="display: none;">有号</span><!--<span class="blue_tag" _v-a7d1e320="">剩 1</span>--><span class="blue_tag" _v-a7d1e320="">{$vo['cost']} 元</span><span class="am-ft-gray am-ft-13" _v-a7d1e320="" style="display: none;">已约满</span>
						</p>
					</div>
					<div class="weui_cell_ft" _v-a7d1e320="">
					</div>
					</a>
					</foreach>
					</if>
					
					
					 <if condition="$xia">
				  <div class="weui-panel__hd" style="padding:5px 0 0 10px">下午</div>
					<!--v-for-start-->
					<foreach name="xia" item="vo">
					<a class="weui_cell" href="/index.php/Home/Index/timespan/visitid/{$vo['id']}" _v-a7d1e320="">
					<div class="weui_cell_hd" _v-a7d1e320="">
						<if condition="$vo['pic']">
						<img style="width:100px;padding:10px" src="/tjimg/{$vo['pic']}" />
						<else />
						<i class="fa fa-clock-o fa-2x icon-color" style="width:35px;margin-right:5px;display:block" _v-a7d1e320=""></i>
						</if>
					</div>
					<div class="weui_cell_bd weui_cell_primary" _v-a7d1e320="">
						<p _v-a7d1e320="">
							{$vo['docname']} <span class="am-ft-13 am-ft-gray" _v-a7d1e320="">{$vo['doclevel']}</span>
						</p>
						<p _v-a7d1e320=""> 
							{$vo['timespan']}
						</p>
						<p _v-a7d1e320="">
							<span class="orange_tag" _v-a7d1e320="">{$vo['visitname']}</span>
						</p>
						<if condition="$vo['docintro']">
						<p><span style="color:gray;font-size:12px;">{$vo['docintro']}</span></p>
						</if>
					</div>  
					<div class="weui_cell_bd" _v-a7d1e320="">
						<p _v-a7d1e320="">
							<span class="blue_tag" _v-a7d1e320="" style="display: none;">有号</span><!--<span class="blue_tag" _v-a7d1e320="">剩 1</span>--><span class="blue_tag" _v-a7d1e320="">{$vo['cost']} 元</span><span class="am-ft-gray am-ft-13" _v-a7d1e320="" style="display: none;">已约满</span>
						</p>
					</div>
					<div class="weui_cell_ft" _v-a7d1e320="">
					</div>
					</a>
					</foreach>
					</if>
					<!--v-for-end-->
				</div>
				<!--fragment-start-->
				<div style="height:8px;">
				</div>
				<div class="am-ft-center am-ft-13 am-ft-darkgray">
      预约须知：<a href="/index.php/Home/Index/appointTips">点击查看详情</a>
					   
				</div>
				<div style="height:8px;">
				</div>
				<!--fragment-end--><!--v-partial-->
			</div>
		</div>
	</div>
	<!--v-component-->
	<div class="weui_dialog_alert" style="display: none;">
		<div class="weui_mask">
		</div>
		<div class="weui_dialog">
			<div class="weui_dialog_hd">
				<strong class="weui_dialog_title">标题</strong>
			</div>
			<div class="weui_dialog_bd">
				正文
			</div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
			</div>
		</div>
	</div>
	<!--v-component-->
	<div class="weui_dialog_confirm" style="display: none;">
		<div class="weui_mask">
		</div>
		<div class="weui_dialog">
			<div class="weui_dialog_hd">
				<strong class="weui_dialog_title">标题</strong>
			</div>
			<div class="weui_dialog_bd">
				正文
			</div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog default">取消</a><a href="javascript:;" class="weui_btn_dialog primary">确定</a>
			</div>
		</div>
	</div>
	<!--v-component-->
	<div _v-63e5f651="">
		<div _v-63e5f651="" style="display: none;">
			<div class="weui_toast_common" _v-63e5f651="">
				<p class="weui_toast_content_common" _v-63e5f651="">
					内容
				</p>
			</div>
		</div>
		<div class="weui_loading_toast" _v-63e5f651="" style="display: none;">
			<div class="weui_mask_transparent" _v-63e5f651="">
			</div>
			<div class="weui_toast" _v-63e5f651="">
				<div class="weui_loading" _v-63e5f651="">
					<div class="weui_loading_leaf weui_loading_leaf_0" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_1" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_2" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_3" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_4" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_5" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_6" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_7" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_8" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_9" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_10" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_11" _v-63e5f651="">
					</div>
				</div>
				<p class="weui_toast_content" _v-63e5f651="">
					加载中...
				</p>
			</div>
		</div>
		<div _v-63e5f651="" style="display: none;">
			<div class="weui_mask_transparent" _v-63e5f651="">
			</div>
			<div class="weui_toast" _v-63e5f651="">
				<i class="weui_icon_toast" _v-63e5f651=""></i>
				<p class="weui_toast_content" _v-63e5f651="">
					已完成
				</p>
			</div>
		</div>
	</div>
	<!--v-component-->
</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script>
	function jump(dep,d){
		var url = "/index.php/Home/Index/departmentArrange/deptid/"+dep+"/date/"+d;
		location.href = url;
	}
</script>

</body></html>