<html lang="en">
<head>
<meta charset="utf-8">
<title>天津中医药大学第一附属医院</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
<script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
<link href="//cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-big-counter.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.0/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="/app/css/weui1.css" rel="stylesheet">
	<link rel="stylesheet" href="/Public/jqueryweui/dist/lib/weui.css">
	<!--<link rel="stylesheet" href="/Public/node_modules/weui/dist/lib/weui.css">-->
	<link rel="stylesheet" href="/Public/jqueryweui/dist/css/jquery-weui.css">
<link href="/app/css/timespan.css" rel="stylesheet">
</head>
<body class=" pace-done"> 
<div class="pace pace-inactive">
	<div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
		<div class="pace-progress-inner">
		</div>
	</div>
	<div class="pace-activity">
	</div>
</div>
<div class="page">
	<div class="container" _v-0be13b8c="">
		<div id="reg-detail" class="reg-detail weui-cells_form" _v-0be13b8c="">
			<!--<div class="weui_cells_title" _v-0be13b8c="">
				就诊卡：
			</div>-->
			<div class="weui_cells weui_cells_access " style="margin-top:10px" _v-0be13b8c="">
				<a class="weui_cell" href="javascript:;" _v-0be13b8c="">
				<div class="weui_cell_hd" _v-0be13b8c="">
					<i class="fa fa-credit-card fa-2x icon-color" style="width:45px;margin-right:5px;display:block" _v-0be13b8c=""></i>
				</div>
				<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
					<p _v-0be13b8c="">
						{$userInfo['patientname']} <span style="margin-left:15px" class="blue_tag" _v-0be13b8c="">就诊信息</span>
					</p>
					<p _v-0be13b8c="">
						{$userInfo['phoneno']}
					</p>
				</div>
				<!--<div class="weui_cell_ft" _v-0be13b8c="">
					 选就诊卡
				</div>-->
				</a>
			</div>
			<div class="weui_cells_title" _v-0be13b8c="">
				挂号详情：
			</div>
			<div class="weui_cells" _v-0be13b8c="">
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室</span><span class="info" _v-0be13b8c="">{$deptInfo['deptname']}</span>
						</p>
					</div>
				</div>
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">医&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生</span><span class="info" _v-0be13b8c="">{$docInfo['doctorname']}</span>
						</p>
					</div>
				</div>
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类</span><span class="info" _v-0be13b8c="">{$visitTypeInfo['visitname']}</span>
						</p>
					</div>
				</div>
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">就诊日期</span><span class="info" _v-0be13b8c="">{$realInfo['visitdate']}</span>
						</p>
					</div>
				</div>
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">就诊时间</span><span class="info" _v-0be13b8c="">{$periodName}</span>
						</p>
					</div>
				</div>
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">挂&nbsp;&nbsp;号&nbsp;&nbsp;费</span><span class="info" _v-0be13b8c="">{$visitTypeInfo['cost']} 元</span>
						</p>
					</div>
				</div>
				<div class="weui_cell" _v-0be13b8c="">
					<div class="weui_cell_bd weui_cell_primary" _v-0be13b8c="">
						<p _v-0be13b8c="">
							<span class="label" _v-0be13b8c="">手&nbsp;&nbsp;机&nbsp;&nbsp;号</span><span class="info" id="phonenum" _v-0be13b8c="">{$userInfo['phoneno']}</span>
						</p>
					</div>
				</div>
				<div class="weui-cell weui-cell_vcode">
                        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="imgVerifyCode"  placeholder="请输入验证码">
                        </div>
                        <div class="weui-cell__ft">
                            <img id="verifyimg" style="padding:3px;" class="weui-vcode-img" src="{$vcode}">
                        </div>
            		</div>
				<div class="weui-cell weui-cell_vcode">
                        <div class="weui-cell__hd">
                            <label class="weui-label">验证码</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="textVerifyCode" placeholder="请输入短信验证码">
                        </div>  
                        <div class="weui-cell__ft">
                            <button class="weui-vcode-btn" id="getPhoneVerifyCode">获取验证码</button>
                        </div> 
            		</div>
			</div>
			<a href="javascript:;" style="margin:10px 8px" id="confirmRegister" class="weui_btn weui_btn_primary" _v-0be13b8c="">确认挂号</a>
			<div _v-0be13b8c="">
				<p style="padding:10px" class="am-ft-sm am-ft-gray" _v-0be13b8c="">
					<span class="am-ft-orange" _v-0be13b8c=""><i class="fa fa-info-circle" _v-0be13b8c=""></i></span> 可预约挂号的时段为7：00-17：00 
				</p>
			</div>
		</div>  
		<div class="reg-success" id="reg-success" _v-0be13b8c="" style="display:none">
			<div class="weui_msg" _v-0be13b8c="">
				<div class="weui_icon_area" _v-0be13b8c="">
					<i class="weui_icon_success weui_icon_msg" _v-0be13b8c=""></i>
				</div>
				<div class="weui_text_area" _v-0be13b8c="">
					<h2 class="weui_msg_title" _v-0be13b8c="">挂号成功</h2>
					<p class="weui_msg_desc" _v-0be13b8c="">
						 请牢记您的就诊时间:{$realInfo['visitdate']} {$periodName} (序号:4), 就诊医生:{$deptInfo['deptname']} {$docInfo['doctorname']}
					</p>
				</div>
				<div class="weui_opr_area" _v-0be13b8c="">
					<p class="weui_btn_area" _v-0be13b8c="">
						<a id="jumpa" href="/index.php/Home/Index/checkAppointDetail" class="weui_btn weui_btn_primary" _v-0be13b8c="">查看详情</a>
					</p>
				</div>
			</div>
		</div>
		<div class="reg-failed" _v-0be13b8c="" style="display: none;">
			<div class="weui_msg" _v-0be13b8c="">   
				<div class="weui_icon_area" _v-0be13b8c="">  
					<i class="weui_icon_warn weui_icon_msg" _v-0be13b8c=""></i>
				</div>
				<div class="weui_text_area" _v-0be13b8c="">
					<h2 class="weui_msg_title" _v-0be13b8c="">挂号失败</h2>
					<p class="weui_msg_desc" _v-0be13b8c="">
					</p>
				</div>
				<div class="weui_opr_area" _v-0be13b8c="">
					<p class="weui_btn_area" _v-0be13b8c="">
						<a href="javascript:;" class="weui_btn weui_btn_primary" _v-0be13b8c="">返回首页</a>
					</p>
				</div>
			</div>
		</div>
		<!--fragment-start-->
		<div style="height:8px;">
		</div>
		<!--<div class="am-ft-center am-ft-13 am-ft-darkgray">
      金融支持：
			<img src="/Images/boc.png" style="height:18px;width:auto;">中国银行;技术支持：倍康益众
		</div>-->
		<div style="height:8px;">
		</div>
		<!--fragment-end--><!--v-partial-->
	</div>
	<!--v-component-->
	<div class="weui_dialog_alert" style="display: none;">
		<div class="weui_mask">
		</div>
		<div class="weui_dialog">
			<div class="weui_dialog_hd">
				<strong class="weui_dialog_title">标题</strong>
			</div>
			<div class="weui_dialog_bd">
				正文
			</div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog primary">确定</a>
			</div>
		</div>
	</div>
	<!--v-component-->
	<div class="weui_dialog_confirm" style="display: none;">
		<div class="weui_mask">
		</div>
		<div class="weui_dialog">
			<div class="weui_dialog_hd">
				<strong class="weui_dialog_title">标题</strong>
			</div>
			<div class="weui_dialog_bd">
				正文
			</div>
			<div class="weui_dialog_ft">
				<a href="javascript:;" class="weui_btn_dialog default">取消</a><a href="javascript:;" class="weui_btn_dialog primary">确定</a>
			</div>
		</div>
	</div>
	<!--v-component-->
	<div _v-63e5f651="">
		<div _v-63e5f651="" style="display: none;">
			<div class="weui_toast_common" _v-63e5f651="">
				<p class="weui_toast_content_common" _v-63e5f651="">
					内容
				</p>
			</div>
		</div>
		<div class="weui_loading_toast" _v-63e5f651="" style="display: none;">
			<div class="weui_mask_transparent" _v-63e5f651="">
			</div>
			<div class="weui_toast" _v-63e5f651="">
				<div class="weui_loading" _v-63e5f651="">
					<div class="weui_loading_leaf weui_loading_leaf_0" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_1" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_2" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_3" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_4" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_5" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_6" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_7" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_8" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_9" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_10" _v-63e5f651="">
					</div>
					<div class="weui_loading_leaf weui_loading_leaf_11" _v-63e5f651="">
					</div>
				</div>
				<p class="weui_toast_content" _v-63e5f651="">
					加载中...
				</p>
			</div>
		</div>
		<div _v-63e5f651="" style="display: none;">
			<div class="weui_mask_transparent" _v-63e5f651="">
			</div>
			<div class="weui_toast" _v-63e5f651="">
				<i class="weui_icon_toast" _v-63e5f651=""></i>
				<p class="weui_toast_content" _v-63e5f651="">
					已完成
				</p>  
			</div>
		</div>
	</div>
	<!--v-component-->
</div>
<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="/Public/jqueryweui/dist/js/jquery-weui.js"></script>
<script>
//如果没有绑定手机号，提示
<?php
	if(!$bind){
?>
        $.alert("请绑定手机和身份证号继续完成操作", "提示", function() {
        		location.href ="/index.php/Home/User/bind?backurl=<?php echo $backUrl; ?>";	
        });
<?php
	}
?>
//确认挂号
$("#confirmRegister").click(function(){
	$.showLoading("正在挂号...");
	var imgVerifyCode = $("#imgVerifyCode").val();
	if (imgVerifyCode == ""){
		$.alert("请输入图形验证码");
        $.hideLoading();
		return false;   
	}  
	var textVerifyCode = $("#textVerifyCode").val();
	if (textVerifyCode == ""){
		$.alert("请输入短信验证码");
        $.hideLoading();
		return false;   
	}
	//请求短信验证码
	var url = "";
	var url = "/index.php/Home/Api/appoint"; 
	var data = {
		"phoneno":'<?php echo $userInfo['phoneno']; ?>',
		"tpid" :'<?php echo $docInfo['tpid']; ?>',
		"hid" :'<?php echo $docInfo['hid']; ?>',
		"idcard" :'<?php echo $userInfo['gidcard']; ?>',
		"patientname" :'<?php echo $userInfo['patientname']; ?>',
		"patientsex" :'<?php echo $userInfo['patientsex']; ?>',
		"realid" :'<?php echo $realInfo['realid']; ?>',
		"periodid" :'<?php echo $periodId; ?>',
		"verifycode" : textVerifyCode,
		"uid"		 : '<?php echo $userInfo['id']; ?>',
		"periodname" : '<?php echo $periodName; ?>',
	}
    $.post(url, data, function (data) {
        $.hideLoading();
        if (data.result == "00000000") { //成功
	        /*$.alert("挂号成功，请留意短信提醒", "提示", function() {
	        		//location.href ="/index.php/Home/User/bind?backurl=<?php echo $backUrl; ?>";	
	        });*/
	        $("#reg-detail").hide();
	        var jumpSrc = $("#jumpa").attr("href");
	        $("#jumpa").attr("href", jumpSrc+"/appointId/"+data.id);
	        $("#reg-success").show();
        } else { 
            $.alert(data.message);   
        }
    },"json");
});
$("#getPhoneVerifyCode").click(function(){
	//请求挂号接口
	
	var imgVerifyCode = $("#imgVerifyCode").val();
	if (imgVerifyCode == ""){
		$.alert("请输入图形验证码");
		return false;   
	}

	//$.showLoading("正在获取...");
	$(this).attr("disabled",true);
	var countDown = 60;
	var timeObj = setInterval(function(){
		countDown--;
		$("#getPhoneVerifyCode").text(countDown+"s");
		if (countDown <= 0) {
			clearInterval(timeObj);
			$("#getPhoneVerifyCode").removeAttr("disabled");
			$("#getPhoneVerifyCode").text("获取验证码");
		}
	},1000)
	//请求短信验证码
	var url = "";
	var url = "/index.php/Home/Api/getPhoneTextVerifyCode"; 
	var data = {
		"phone":'<?php echo $userInfo['phoneno']; ?>',
		"tpid" :'<?php echo $docInfo['tpid']; ?>',
		"picCode":imgVerifyCode
	}
    $.post(url, data, function (data) {
        $.hideLoading();
        if (data.result == "00000000") { //成功
	        	/*$.alert("挂号成功，请留意短信提醒", "提示", function() {
	        		//location.href ="/index.php/Home/User/bind?backurl=<?php echo $backUrl; ?>";	
	        });*/
        } else {   
            $.alert(data.message);
        }
    },"json");
});

//更换图形验证码
$("#verifyimg").click(function(){
	$.post("/index.php/Home/Index/getVerifyCode", {"tpid":"<?php echo $deptInfo['tpid']; ?>","phone":"<?php echo $userInfo['phoneno']; ?>"}, function (data) {
        if (data.status == true) { //成功
	        	/*$.alert("挂号成功，请留意短信提醒", "提示", function() {
	        		//location.href ="/index.php/Home/User/bind?backurl=<?php echo $backUrl; ?>";	
	        });*/
	        $("#verifyimg").attr("src",data.src);
        } else { 
        		alert(2);
            $.alert("请求失败");
        }
    },"json");
});
//$.showLoading("正在提交...");
</script>
</body>
</html>